<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="templatemo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <title>Techvoid</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/templatemo-liberty-market.css">
    <link rel="stylesheet" href="/assets/css/owl.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/cart.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
</head>

<body style="background-image: url(assets/images/bg.jpg);">
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="assets/images/logo.png" alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/" class="active">Home</a></li>
                            <% if(!user) {%>
                                <li><a href="/authentication">Login/Signin</a></li>
                            <% } else {%>
                                <li><a href="/userProfile">Profile</a></li>
                                <form action="/api/logout" method="post">
                                    <li>
                                        <button style="border: none; background-color: transparent;">
                                                Logout
                                        </button>
                                    </li>
                                </form>
                            <% } %>
                            <li><a href="/products">Shop</a></li>
                            <li><a href="/authors">About us</a></li>
                            <li><a href="/cart"><img id="cart" width="30" height="30"
                                        src="https://img.icons8.com/pastel-glyph/64/1A1A1A/shopping-trolley--v2.png"
                                        alt="shopping-trolley--v2" /></a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <br><br><br><br>

    <% if(carts) {%>
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                        </div>
                        <div id="Itemsqty" class="col align-self-center text-right text-muted"></div>
                    </div>
                </div>
                <% for(let cart of carts) {%>
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="<%= cart.img %>"></div>
                            <div class="col">
                                <div class="row text-muted">Phone</div>
                                <div class="row"><%= cart.name %></div>
                            </div>
                            <div class="col">
                                <a href="/cart/update/<%= cart.id %>?action=remove">-</a>
                                <a class="border"><%= cart.qty %></a>
                                <a href="/cart/update/<%= cart.id %>?action=add">+</a>
                            </div>
                            <div class="col">&euro; <%= cart.price %> 
                                <a href="/cart/update/<%= cart.id %>?action=clear">&#10005;</a>
                            </div>
                        </div>
                    </div>
                <% } %>
                <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
            </div>
            <div class="col-md-4 summary">
                <div>
                    <h5><b></b></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col" style="padding-left:0;"></div>
                    <div class="col text-right"></div>
                </div>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div id="totalpricetopay" class="col text-right">&euro; 137.00</div>
                </div>
                <button class="btn">CHECKOUT</button>
            </div>
        </div>
    </div>
    <% } else { %>
        <div class="card">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col">
                                <h4><b>Shopping Cart</b></h4>
                            </div>
                            <div class="col align-self-center text-center text-muted">سبد خرید خالی است</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <script>
        // Initialize total quantity and total price variables
        let totalQuantity = 0;
        let totalPrice = 0;
    
        // Loop through the cart items in EJS
        <% for (let cart of carts) { %>
            // Update total quantity
            totalQuantity += <%= cart.qty %>;
    
            // Update total price
            totalPrice += <%= cart.qty * cart.price %>;
        <% } %>
    
        // Update the quantity and total price in the DOM
        document.getElementById("Itemsqty").innerText = totalQuantity + " Items";
        document.getElementById("totalpricetopay").innerText = `€ ${totalPrice.toFixed()}`;
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<% if(success.length) {%>
  <script>
    Swal.fire({
      position: 'top',
      icon: '<%= ICON %>',
      text: '<%= TEXT %>',
      width: 400,
      showConfirmButton: false,
      timer: 1900
    })
  </script>
  <% } %>
    <% if(error.length) {%>
      <script>
        Swal.fire({
          position: 'top',
          icon: '<%= ICON %>',
          text: '<%= TEXT %>',
          width: 400,
          showConfirmButton: false,
          timer: 1900
        })
      </script>
      <% } %>

</body>